<div class="forma-kartica">

    <h2>Prijava</h2>

    <div class="forma-red">
        <label>Korisničko ime:</label>
        <input type="text" [(ngModel)]="username">
    </div>

    <div class="forma-red">
        <label>Lozinka:</label>
        <input type="password" [(ngModel)]="password">
    </div>

    <button (click)="login()">Uloguj se</button>

    <p>
        <a routerLink="/forgot-password">
            Zaboravili ste lozinku?
        </a>
    </p>

    @if (error !== "") {
    <p class="greska">{{ error }}</p>
    }

    <p>
        Nemate nalog?
        <a routerLink="/register">Registracija</a>
    </p>

</div>